*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
video{
    width: 100%;
}
/* 
 */
p{
    max-width: 100px;
}
a{
    text-decoration: none;
    color:crimson;
}
h1{
    background-color: blueviolet;
    max-width: 200px;
    margin: 10px 10px;
    padding: 10px 5px ;
}